<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Order Processing Service</title>
    <link rel="stylesheet" href="style_index.css">
    </head>
    <body>
      <div class="jumbotron jumbotron-index">
            <div class="text-center display-title">
                <h1 class="display-title"> Order Service </h1>
            </div>
      </div>
      <div class="text-center">
        <form style="margin:15px;" method="post">
           <div class="form-group">
               <div class="text-center">
                   <label for="exampleInputEmail1">Email address</label>
               </div>
               <div class="input-group">
               <span class="input-group-addon" id="sizing-addon1">@</span>
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" value="{{request.form.email}}">
               </div>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <label for="exampleInputPassword1">Password</label>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"> <i class="fa fa-key" aria-hidden="true"></i> </span>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" value="{{request.form.password}}">
                </div>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Check me out
                </label>
            </div>
            <button class="btn btn-outline-success btn-submit-acc" type="submit" name="action">Submit</button>
       </form>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>
